# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Data folder
# data/
expected_value/
scores/
harmonized/
logos/
odds/
schedule/
NHL_backup_2025-06-15/

*.DS_Store

logs/

Library/
data/MLB/team_metadata/mlb_logos_usage_examples.txt
data/MLB/team_metadata/20250530_teams.csv
data/MLB/team_metadata/20250530_teams.yml
data/MLB/team_metadata/teams.csv
data/MLB/team_metadata/teams.yml
data/NBA/team_metadata/20250530_teams.csv
data/NBA/team_metadata/20250530_teams.yml
data/NBA/team_metadata/nba_logos_usage_examples.txt
data/NBA/team_metadata/teams.csv
data/NBA/team_metadata/teams.yml
data/NBA/win_probability/espn_schedule_retrieval.log
data/NFL/team_metadata/20250530_teams.csv
data/NFL/team_metadata/20250530_teams.yml
data/NFL/team_metadata/nfl_logos_usage_examples.txt
data/NFL/team_metadata/teams.csv
data/NFL/team_metadata/teams.yml
data/NHL/team_metadata/20250530_teams.csv
data/NHL/team_metadata/20250530_teams.yml
data/NHL/team_metadata/nhl_logos_usage_examples.txt
data/NHL/team_metadata/teams.csv
data/NHL/team_metadata/teams.yml
data/NHL_backup_2025-06-15/codename
data/NHL_backup_2025-06-15/old_bigquery.csv
data/NHL_backup_2025-06-15/starting_goalies/20250601_154353_starting_goalies_2025-06-04.csv
data/NHL_backup_2025-06-15/starting_goalies/20250602_195543_starting_goalies_2025-06-04.csv
data/NHL_backup_2025-06-15/starting_goalies/20250602_220757_starting_goalies_2025-06-04.csv
data/NHL_backup_2025-06-15/starting_goalies/20250602_221850_starting_goalies_2025-06-04.csv
data/NHL_backup_2025-06-15/starting_goalies/20250603_225328_starting_goalies_2025-06-04.csv
data/NHL_backup_2025-06-15/starting_goalies/20250604_183733_starting_goalies_2025-06-04.csv
data/NHL_backup_2025-06-15/starting_goalies/20250604_184005_starting_goalies_2025-06-04.csv
data/NHL_backup_2025-06-15/starting_goalies/20250609_163719_starting_goalies_2025-06-09.csv
data/NHL_backup_2025-06-15/starting_goalies/20250610_151150_starting_goalies_2025-06-12.csv
data/NHL_backup_2025-06-15/starting_goalies/20250612_151120_starting_goalies_2025-06-12.csv
data/NHL_backup_2025-06-15/starting_goalies/nhl_starting_goalies_retrieval.log
data/NHL_backup_2025-06-15/team_metadata/20250530_teams.csv
data/NHL_backup_2025-06-15/team_metadata/20250530_teams.yml
data/NHL_backup_2025-06-15/team_metadata/nhl_logos_usage_examples.txt
data/NHL_backup_2025-06-15/team_metadata/teams.csv
data/NHL_backup_2025-06-15/team_metadata/teams.yml
data/NHL_backup_2025-06-15/win_probability/20250601_154318_win_probabilities_2025-06-04.csv
data/NHL_backup_2025-06-15/win_probability/20250602_195513_win_probabilities_2025-06-04.csv
data/NHL_backup_2025-06-15/win_probability/20250602_220726_win_probabilities_2025-06-04.csv
data/NHL_backup_2025-06-15/win_probability/20250602_221819_win_probabilities_2025-06-04.csv
data/NHL_backup_2025-06-15/win_probability/20250603_225256_win_probabilities_2025-06-04.csv
data/NHL_backup_2025-06-15/win_probability/20250604_183707_win_probabilities_2025-06-04.csv
data/NHL_backup_2025-06-15/win_probability/20250604_183937_win_probabilities_2025-06-04.csv
data/NHL_backup_2025-06-15/win_probability/20250609_163648_win_probabilities_2025-06-09.csv
data/NHL_backup_2025-06-15/win_probability/20250610_151112_win_probabilities_2025-06-12.csv
data/NHL_backup_2025-06-15/win_probability/20250612_151036_win_probabilities_2025-06-12.csv
data/NHL_backup_2025-06-15/win_probability/20250615_021230_win_probabilities_2025-06-17.csv
data/NHL_backup_2025-06-15/win_probability/nhl_win_probabilities_retrieval.log
data/update_summary_20250530_213222.csv
R/.DS_Store
R/.DS_Store
app_old.R
